section.noticias {
    margin: 0 auto;
    height: auto;
    padding: 30px 0 0;
    overflow: hidden;
    margin: 50px 50px 100px 300px;
}

.noticias h1 {
    text-align: center;
    font-size: var(--fonte-tamanho-7);
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}

.conteudo-noticias {
    width: 400%;
    height: auto;
    display: flex;
}

.conteudo-noticias input, .img-mobile {
    display: none;
}

.box-noticias {
    width: 25%;
    height: 600px;
    position: relative;
    text-align: center;
    transition: 1s;
}

.box-noticias img {
    width: 100%;
    object-fit: cover;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 37%;
    justify-content: center;
    display: flex;
    left: 8%;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid var(--cor-primeira);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: var(--cor-primeira);
}

#radio1:checked ~ .nav-auto .auto-btn-1,
#radio2:checked ~ .nav-auto .auto-btn-2,
#radio3:checked ~ .nav-auto .auto-btn-3 {
    background-color: var(--cor-primeira);
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto, .nav-manual {
        margin-top: 60%;
    }
}