section.diferenciais {
    padding: 30px 0 0;
}

.diferenciais h1 {
    text-align: center;
    font-size: var(--fonte-tamanho-7);
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    margin-bottom: 10px;
}

.diferenciais .container {
    display: flex;
    background-color: var(--cor-terceira);
    border-radius: 20px;
    height: 600px;
    align-items: center;
    gap: 70px;
    padding: 50px 100px;
}

.diferencias .container .conteudo {
    width: 100%;
}

.diferenciais .container .conteudo .itens-diferenciais{
    font-size: var(--fonte-tamanho-4);
    line-height: 40px;
}

.diferenciais .container .conteudo .itens-diferenciais .fa-solid {
    margin-right: 10px;
    color: var(--cor-segunda);
}

.diferenciais .container .img-diferenciais img {
    border-radius: 25px 0 25px 0;
    box-shadow: 5px 5px 8px var(--cor-quarta);
}