.galeria h1 {
    text-align: center;
    font-size: var(--fonte-tamanho-6);
    margin-bottom: 10px;
}
.galeria .imagens-galeria {
    background-color: var(--cor-terceira);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, auto));
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 50px;
}

.galeria .imagens-galeria img {
    display: flex;
    justify-content: center;
}

