.galeria h1 {
    text-align: center;
    font-size: var(--fonte-tamanho-6);
    margin-bottom: 10px;
}
.imagens-galeria {
    background-color: var(--cor-quarta);
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid
}

