section.profissionais {
    margin: 50px 50px 100px 300px;
}

.profissionais h1 {
    text-align: center;
    font-size: var(--fonte-tamanho-6);
    margin-bottom: 10px;
}

.profissionais .conteudo-profissionais {
    display: flex;
    gap: 40px;
    background-color: var(--cor-terceira);
    border-radius: 20px;
    padding: 50px;
}

.profissionais .conteudo-profissionais .profissional .destaque{
    width: 30%;
    align-self: baseline;
}

.profissionais .conteudo-profissionais .profissional {
    width: 30%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.profissionais .conteudo-profissionais .profissional img {
    width: 100%;
    border-radius: 10px;
}

.profissionais .conteudo-profissionais .profissional input, .fisio-mobile {
    display: none;
    justify-content: center;
}

.profissionais .conteudo-profissionais .profissional h2 {
    font-size: var(--fonte-tamanho-4);
}

.profissionais .conteudo-profissionais .profissional span {
    margin: 10px 0;
    font-size: var(--fonte-tamanho-2);
}

.profissionais .conteudo-profissionais .profissional p {
    margin-top: 10px;
    font-size: var(--fonte-tamanho-3);
}

.nav-manual-2, .nav-auto-2 {
    position: absolute;
    width: 100%;
    margin-top: 23.5%;
    justify-content: center;
    display: flex;
    left: -0.1%;
}

.nav-manual-2 .manual-btn-2, .nav-auto-2 div {
    border: 1px solid var(--cor-primeira);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual-2 .manual-btn-2:not(:last-child), .nav-auto-2 div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual-2 .manual-btn-2:hover {
    background-color: var(--cor-primeira);
}

#radio1:checked ~ .nav-auto-2 .auto-btn-1,
#radio2:checked ~ .nav-auto-2 .auto-btn-2,
#radio3:checked ~ .nav-auto-2 .auto-btn-3 {
    background-color: var(--cor-primeira);
}

#radio1:checked ~ .destaque {
    margin-left: 0%;
}

#radio2:checked ~ .destaque {
    margin-left: -25%;
}

#radio3:checked ~ .destaque {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto, .nav-manual {
        margin-top: 60%;
    }
}