* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: #000;
    outline: none;
}

html, body{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: var(--cor-terceira);
    background-image: url(../images/background.jpg);
    background-blend-mode: overlay;
    scroll-behavior: smooth;
}

ul, li {
    list-style: none;
    text-decoration: none;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}

::placeholder {
    font-family: 'Open Sans', sans-serif;
}