.rodape {
    height: 600px;
    margin: 50px 50px 150px 300px;
}

.rodape h1 {
    text-align: center;
    font-size: var(--fonte-tamanho-7);
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    margin-bottom: 10px;
}

.rodape .container {
    background-color: var(--cor-terceira);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 600px;
}

.rodape .container .contato .form fieldset {
    border-radius: 10px;    
    border: 2px solid var(--cor-quarta);
    padding: 20px;
}

.rodape .container .contato .form legend {
    text-align: center;
    color: var(--cor-quinta);
    padding: 0 10px;
}

.rodape .container .contato .form label {
    font-size: var(--fonte-tamanho-3);
}

.rodape .container .contato .form input {
    background-color: var(--cor-quarta);
    width: 100%;
    height: 35px;
    border: none;
    padding-left: 7px;
}

.rodape .container .contato .form textarea {
    background-color: var(--cor-quarta);
    width: 100%;
    height: 120px;
    border: none;
    resize: none;
    margin-top: 2px;
    padding: 7px 7px 0;
}

.rodape .container .contato .form span {
    font-size: var(--fonte-tamanho-1);
}

.rodape .container .contato .form .botoes-form {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.rodape .container .contato .form .botoes-form .botao {
    background-color: var(--cor-primeira);
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: var(--cor-quarta);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: 700;
}

.rodape .container .contato .form .botoes-form .botao:hover {
    background-color: var(--cor-segunda);
}

.rodape .copy {
    text-align: center;
    margin-top: 30px;
    font-size: var(--fonte-tamanho-3);
}

.rodape .copy .fab {
    letter-spacing: 10px;
}

/* ESTILIZAÇÃO ITENS JAVASCRIPT */
.rodape .container .contato .form .dados.aceito {
    background-color: rgba(20, 241, 20, 0.5);
    color: var(--cor-quinta);
}

.rodape .container .contato .form .dados.recusado {
    background-color: rgb(241, 11, 11, 0.5);
    color: var(--cor-quarta);
}

.rodape .container .contato .form .dados.limpar {
    background-color: var(--cor-quarta);
    color: var(--cor-quinta);
}

.rodape .container .contato .form .alertaOn {
    color: var(--cor-sexta);
}

.rodape .container .contato .form .alertaOff {
    opacity: 0;
}