section.slider {
    margin: 0 auto;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    margin: 50px 50px 100px 300px;
}

.slider h1 {
    text-align: center;
    font-size: var(--fonte-tamanho-6);
    margin-bottom: 10px;
}

.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 27%;
    justify-content: center;
    display: flex;
    left: 8%;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid var(--cor-primeira);
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}

.nav-manual .manual-btn:hover {
    background-color: var(--cor-primeira);
}

#radio1:checked ~ .nav-auto .auto-btn-1,
#radio2:checked ~ .nav-auto .auto-btn-2,
#radio3:checked ~ .nav-auto .auto-btn-3 {
    background-color: var(--cor-primeira);
}

#radio1:checked ~ .primeiro {
    margin-left: 0%;
}

#radio2:checked ~ .primeiro {
    margin-left: -25%;
}

#radio3:checked ~ .primeiro {
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: block;
    }

    .nav-auto, .nav-manual {
        margin-top: 60%;
    }
}